/* Quiz container */
.quiz-question ul {
    list-style-type: none;
    padding-left: 0;
}

.quiz-question li {
    margin-bottom: 10px;
}

.option-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #13294B;
    color: white;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: none;
}

.option-button:hover {
    background-color: #34495e;
}

.option-button.selected {
    background-color: #3498db;
}

.option-button.correct {
    background-color: #27ae60;
}

.option-button.incorrect {
    background-color: #c0392b;
}

.feedback {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    min-height: 1.5em;
}