/*************************
Quarto-Folien-Template für NFDI4Objects
Kai-Christian Bruhn
MIT License
Inspiriert von: 
https://github.com/hrbrmstr/quarto-organization-template
https://github.com/beatrizmilz/quarto-rladies-theme/
https://github.com/mcanouil/quarto-revealjs-storybook/
*************************/


/*-- scss:defaults --*/

